main {
  display: grid;
  gap: 1.25rem;
}

.form-card {
  padding: 1rem;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.35rem;
}

input,
textarea,
select {
  padding: 0.6rem;
  border: 1px solid var(--input-bg-color);
  border-radius: 8px;
  font-size: 1rem;
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  inline-size: 100%;
}

input[type="checkbox"] {
  inline-size: auto;
}

input::placeholder {
  color: var(--input-fg-color);
}

textarea {
  min-height: 140px;
  resize: vertical;
}

.field {
  margin-bottom: 0.85rem;
}

.checkbox {
  display: flex;
  font-size: 0.8rem;
}

button {
  color: var(--input-fg-color);
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  background: var(--input-bg-color);
  border: 1px solid var(--input-fg-color);
}

button:hover {
    background: var(--main-bg-color);
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.contact-info {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    & section:first-of-type {
      grid-column: 1 / 12;
    }

    & section:not(:first-of-type) {
      grid-column: 1 / 6;
    }

    & aside {
      grid-column: 6 / 12;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    gap: 1.25rem;
  }
}
