@media screen and (min-width: 0px) {
  .gear {
    & aside {
      grid-column: 1 / span 12;

      & img {
        inline-size: 100%;
        block-size: 100%;
        border-radius: 6px;
        object-fit: cover;
        min-inline-size: 100%;
      }
    }

    & section {
      grid-column: 1 / span 12;
    }
  }
}

@media screen and (min-width: 768px) {
  .gear {

    & aside {
      grid-column: 1 / span 12;
    }

    & section:first-of-type {
      grid-column: 1 / span 6;
    }

    & section:nth-of-type(2) {
      grid-column: 7 / span 6;
    }
  }
}

@media screen and (min-width: 1024px) {
  .gear {

    & aside {
      grid-column: 1 / span 4;
    }

    & section:first-of-type {
      grid-column: 5 / span 8;
    }

    & section:nth-child(n+3) {
      grid-column: 1 / span 12;
    }

    section:last-of-type {
        display: grid;
        grid-template-columns: 2fr 1fr;

        & article {
          p {
            margin-inline-end: 1em;
          }
        }

        & aside {
          grid-column: 2;
          display: flex;
          align-items: center;

          & img {
            object-fit: contain;
          }
        }
    }
  }
}