.gear {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;

  & .gear-image {
    grid-column: 1 / span 4;
    grid-row: 1 / 3;

    & img {
      inline-size: 100%;
      block-size: auto;
      border-radius: 6px;
    }
  }

  & .gear-main {
    grid-column: 5 / span 8;
  }

  & .gear-extra {
    grid-column: 5 / span 8;
  }

  & .gear-text {
    grid-column: 5 / span 8;
  }
}