.indoor {
    display: grid;
    gap: 20px;

    & .intro {
        grid-column: 1 / span 8;
    }

    & .image-aside {
        grid-column: 9 / span 4;

        & img {
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 0px) {
    .indoor {
        & .image-aside {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) { 
    .indoor {
        & .image-aside {
            display: block;
        }
    }
}