.indoor {
    display: grid;
    gap: 20px;



    & aside {
        grid-column: 9 / span 4;

        & img {
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 0px) {
    .indoor {
        & section {
            grid-row: 1;
            grid-column: 1 / -1;
        }

        & aside {
            grid-row: 2;
            grid-column: 1 / -1;
        }
    }
}

@media screen and (min-width: 768px) {
    .indoor {
        & section {
            grid-row: 1;
            grid-column: 1 / span 7;
        }

        & aside {
            grid-row: 1;
            grid-column: 8 / -1;
        }
    }
}