* {
  box-sizing: border-box;
}

body {
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: repeat(11, 1fr [col-start]);
    
    & header {
        display: grid;
        grid-area: header;
        grid-column: 2 / 11; 

        & .menu-toggle {
            font-size: 1.6rem;
            background: none;
            border: none;
            cursor: pointer;
        }

        & .main-nav {

            a.active{
                font-weight: bold;
            }
        }
    }

    & main {
        grid-area: main;
        grid-column: 2 / 11;
    }

    & footer {
        grid-area: footer;
        grid-column: 2 / 11;
    }

    & .index {
        display: grid;
        grid-template-areas:
            "banner"
            "content"
            "gallery"
            "cards";
        grid-template-columns: repeat(11, 1fr [col-start]);
        grid-template-rows: repeat(4, 1fr [row-start]);
        gap: 10px 0px;

        & section {
            display: grid;
            grid-column: 1 / 12;
            gap: 10px;

            & .banner-img {
                object-fit: cover;
                inline-size: 100%;
                block-size: 100%;
                object-position: center;
                max-height: 400px;
            }

            & .col {
                background: gray;
                border-color: darkgray;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

/** Media queries **/

@media screen and (min-width: 0px ) {
    header {

        position: relative;

        & .logo {
            text-align: center;
        }

        & .main-nav {
            display: none;
            position: absolute;
            inline-size: 100%;
            margin-block: 120px;
            background: white;
            flex-direction: column;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

            & a {
                block-size: 30px;
            }
        }

        & .main-nav.open {
            display: flex;
        }
    }
}

@media screen and (min-width: 768px ){

    header {
        grid-template-columns: minmax(20%, 1fr) minmax(80%, 1fr);
        & .menu-toggle {
            display: none;
        }

        & .main-nav {
            display: flex;
            justify-content: flex-end;
            position: relative;
            inline-size: auto;
            background: none;
            flex-direction: row;
            padding: 0px;
            margin-block: 0px;
            box-shadow: none;
            align-items: center;

            & a {
                inline-size: 8vw;
                text-align: right;
            }
        }
    }

    body {
        & .index {
            & section.gallery {
                & .col:nth-child(1) {
                    grid-column: 1 / span 4;
                }
                & .col:nth-child(2) {
                    grid-column: 5 / span 4;
                }
                & .col:nth-child(3) {
                    grid-column: 9 / span 4;
                }
                & .col:nth-child(4) {
                    grid-column: 1 / span 6;
                }
                & .col:nth-child(5) {
                    grid-column: 7 / span 6;
                }
            }

            & section.content {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }

            & section.cards {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }

        }
    }
}

@media screen and (min-width: 1024px ) {
    body {
        & .index {
            & section.gallery {

                grid-template-columns: repeat(5, 1fr);
                
                & .col {
                    grid-column: auto !important;
                }
            }
        }
    }
}