* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #4b6e4f;
  --main-fg-color: #e9c46a;
  --main-fg-color-hover: #d4a754;
  --main-fg-color-active: #b58a3e;
  --main-fg-color-visited: #c19e62;

  --card-bg-color: #5b795e;

  --input-bg-color: #efd9b2;
  --input-fg-color: #a17609;

  --figcaption-color: #b5a274;
}

a {
  color: var(--main-fg-color);
  text-decoration: none;

  &:active {
    color: var(--main-fg-color-active);
  }

  &:visited {
    color: var(--main-fg-color-visited);
  }

  &:hover {
    color: var(--main-fg-color-hover);
  }
}

figure {
  margin: inherit;
  display: flex;
  flex-flow: column;

  figcaption {
    color: var(--figcaption-color);
    font-size: 0.8em;
  }
}

.card {
  background-color: var(--card-bg-color);
  padding: 12px;
  box-shadow: 2px 2px 6px #59815d;
  border: 1px solid #59815d;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Inter", sans-serif;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  margin: 0px;

  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  & header {
    grid-area: header;

    & .menu-toggle {
      font-size: 1.6rem;
      background: none;
      border: none;
      cursor: pointer;
    }

    & nav {
      a.active {
        color: var(--main-fg-color-active);
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  & main {
    grid-area: main;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
  }

  & footer {
    grid-area: footer;
    grid-column: 2 / 12;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(1, minmax(150px, 1024px));
  }

  & .index {
    & section {
      display: grid;
      grid-column: 1 / -1;
      gap: 10px;
    }
  }
}

.full-width-container {
  display: grid;
  grid-column: 1 / -1;

  & picture {
    img {
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      object-position: center;
      max-height: 400px;
    }
  }
}

.container {
  display: grid;
  grid-column: 2 / 12;
  grid-template-columns: repeat(12, 1fr);
  justify-self: center;
  gap: 10px;
  max-inline-size: 1024px;
}

/** Media queries **/

@media screen and (min-width: 0px) {
  body {
    & header {
      position: relative;
      display: flex;
      flex-direction: column;
      grid-column: 2 / 12;

      & .logo {
        text-align: center;
        position: relative;
      }

      .logo:before {
        content: "Bouldering";
        position: absolute;
        color: var(--main-fg-color);
        font-size: 16px;
        margin-block: 40px;
      }

      & nav {
        display: none;
        inline-size: 100%;
        background: white;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        flex-direction: column;

        & a {
          block-size: 30px;
        }
      }

      & nav.open {
        display: flex;
        position: absolute;
        margin-block-start: 90px;
        z-index: 999;
      }
    }

    & .index {
      & img {
        object-fit: cover;
        object-position: center;
        inline-size: 100%;
        aspect-ratio: 1 / 1;
      }

      & video {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    & header {
      display: grid;
      grid-template-columns: minmax(20%, 1fr) minmax(80%, 1fr);
      block-size: 100px;
      justify-self: center;
      max-inline-size: 1024px;

      & .logo {
        text-align: left;
      }

      & .menu-toggle {
        display: none;
      }

      & nav {
        display: flex;
        justify-content: flex-end;
        position: relative;
        inline-size: auto;
        background: none;
        flex-direction: row;
        padding: 0px;
        margin-block: 0px;
        box-shadow: none;
        align-items: center;

        & ul {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          padding: 0;
          margin: 0;

          & li {
            margin-inline: 10px;
            block-size: 100%;
          }

          & .dropdown {
            position: relative;

            & ul {
              position: absolute;
              display: none;
              inline-size: 100%;
              flex-direction: column;
              z-index: 999;

              & li a {
                display: block;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
                padding: 5px 10px;
                background-color: var(--main-bg-color);
              }
            }
          }

          & .dropdown:hover {
            & ul {
              display: flex;
              flex-direction: column;

              & li {
                margin: 0;
              }
            }
          }
        }
      }
    }

    & .index {
      & .container {
        & section:nth-child(1) {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        & section:nth-child(2) {
          & article:nth-child(1) {
            grid-column: 1 / span 4;
          }

          & article:nth-child(2) {
            grid-column: 5 / span 4;
          }

          & article:nth-child(3) {
            grid-column: 9 / span 4;
          }

          & article:nth-child(4) {
            grid-column: 1 / span 6;
          }

          & article:nth-child(5) {
            grid-column: 7 / span 6;
          }
        }

        & section:nth-child(3) {
          & article {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;

            & a,
            & section {
              width: 50%;
            }

            section {
              padding: 10px;
            }
          }

          & article:nth-child(2) {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    & .index {
      & .container {

        & section:nth-child(2) {
          grid-template-columns: repeat(5, 1fr);

          & article {
            grid-column: auto !important;
          }
        }

        & section:nth-child(3) {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

          & article {
            flex-wrap: wrap;
            align-items: flex-start;
            flex-direction: column;

            & a,
            & section {
              width: 100%;
              display: block;
            }

            section {
              padding: 0px;
            }
          }

          & article:nth-child(2) {
            flex-direction: column;
          }
        }
      }
    }
  }
}