* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #4b6e4f;
  --main-fg-color: #e9c46a;
  --main-fg-color-hover: #d4a754;
  --main-fg-color-active: #b58a3e;
  --main-fg-color-visited: #c19e62;
  --card-bg-color: #5b795e;
  --input-bg-color: #efd9b2;
  --input-fg-color: #a17609;
  --article-link-color: #f4d68e;
  --article-link-hover: #e8c06e;
  --article-link-visited: #553806;
  --figcaption-color: #b5a274;
}

a {
  color: var(--main-fg-color);
  text-decoration: none;
}

a:active {
  color: var(--main-fg-color-active);
}

a:visited {
  color: var(--main-fg-color-visited);
}

a:hover {
  color: var(--main-fg-color-hover);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  display: grid;
  grid-template-areas: "header" "main" "footer";
  font-family: "Inter", sans-serif;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  margin: 0em;
}

body h1,
body h2,
body h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-block: 0.5em 0em;
  margin-inline: 0em;
}

body h1 {
  font-size: 1.8em;
}

body h2 {
  font-size: 1.5em;
}

body h3 {
  font-size: 1.2em;
}

body p {
  font-size: 1em;
  margin-block: 0.5em;
  margin-inline: 0em;
}

body hr {
    color: var(--main-fg-color);
    margin-block: 0.5em;
    margin-inline: auto;
    border-width: 0.1em;
}

body ul {
  list-style: circle;
}

body header {
  grid-area: header;
}

body header .menu-toggle {
  font-size: 1.6em;
  background: none;
  border: none;
  cursor: pointer;
}

body header nav a.active {
  color: var(--main-fg-color-active);
  font-weight: bold;
  text-decoration: underline;
}

body main {
  grid-area: main;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
}

body .full-width-container {
  display: grid;
  grid-column: 1 / -1;
}

body .full-width-container picture img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  max-block-size: 25em;
}

body .container {
  display: grid;
  grid-column: 2 / 12;
  grid-template-columns: repeat(12, 1fr);
  justify-self: center;
  gap: 0.6em;  
  max-inline-size: 1024px;
}

body article a {
  color: var(--article-link-color);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

body article a:visited {
  color: var(--article-link-visited);
}

body article a:hover {
  color: var(--article-link-hover);
}

body figure {
  margin: inherit;
  display: flex;
  flex-flow: column;
}

body figure figcaption {
  color: var(--figcaption-color);
  font-size: 0.8em;
}

body .card {
  background-color: var(--card-bg-color);
  padding: 0.75em;
  box-shadow: 0.125em 0.125em 0.375em #59815d;
  border: 0.0625em solid #59815d;
}

body footer {
  grid-area: footer;
  grid-column: 2 / 12;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(1, minmax(9.375em, 1024px));
}

/** INDEX **/
body .index .container section {
  display: grid;
  grid-column: 1 / -1;
  gap: 0.6em;
}

body .index .container > section:nth-of-type(2) article  {
  position: relative;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

body .index > section:nth-of-type(2) article img {
  transition: transform 0.3s ease;
}

body .index > section:nth-of-type(2) article.expanded {
  position: fixed;
  inset: 0em;
  background: rgba(0, 0, 0, 0.85);
  padding: 0em;
  margin: 0em;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  overflow: hidden;
}

body .index section:nth-of-type(2) article.expanded picture img {
  max-width: 90vw;
  max-height: 90vh;
  animation: zoomIn 0.6s ease forwards;
}

body .index section:nth-of-type(2) article picture img {
  transform: scale(1);
}

body .index section:nth-of-type(2) article>button {
  display: none;
}

body .index section:nth-of-type(2) article.expanded button {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  z-index: 9999;
}

body .index section:nth-of-type(2) article.expanded button:hover {
  opacity: 0.8;
}

/** SPORT **/
body .sport table {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

body .sport table thead {
  position: absolute;
  top: -100%;
}

body .sport table tbody {
  display: block;
}

body .sport table tbody tr {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border: 0.0625em solid var(--main-border-color);
  border-radius: 0.5em;
  background: var(--main-bg-color);
  text-align: left;
}

body .sport table tbody tr th,
body .sport table tbody tr td {
  display: block;
  padding: 0.25rem 0;
  font-weight: 300;
}

body .sport table tbody tr th::before,
body .sport table tbody tr td::before {
  display: block;
  font-weight: 600;
  margin-bottom: 0.125em;
}

body .sport table tbody tr th[scope="row"]::before {
  content: "V-scale";
}

body .sport table tbody tr td:nth-of-type(1)::before {
  content: "Fontainebleau";
}

body .sport table tbody tr td:nth-of-type(2)::before {
  content: "Moeilijkheidsgraad";
}

/** CONTACT **/
body .contact .full-width-container gmp-map {
    block-size: 25em;
}

body .contact form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.35em;
}

body .contact form input,
body .contact form textarea,
body .contact form select {
  padding: 0.6em;
  border: 0.0625em solid var(--input-bg-color);
  border-radius: 0.5em;
  font-size: 1em;
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  inline-size: 100%;
}

body .contact form input[type="checkbox"] {
  inline-size: auto;
}

body .contact form input::placeholder {
  color: var(--input-fg-color);
}

body .contact form textarea {
  min-height: 8.75em;
  resize: vertical;
}

body .contact form fieldset {
  border: none;
  margin: 0em;
  padding-block: 0.625em 0em;
  padding-inline: 0em;
}

body .contact form .checkbox {
  display: flex;
  font-size: 0.8em;
}

body .contact form button {
  color: var(--input-fg-color);
  padding: 0.65rem 1em;
  border-radius: 0.625em;
  font-weight: 600;
  cursor: pointer;
  background: var(--input-bg-color);
  border: 0.0625em solid var(--input-fg-color);
}

body .contact form button:hover {
  background: var(--main-bg-color);
}

body .contact form button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

body .contact address {
  margin-block-start: 0.5em;
}

/** Keyframes **/

@keyframes zoomIn {
  from {
    transform: scale(0.75);
    opacity: 0.4;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/** Media queries **/
@media screen and (min-width: 0em) {
  body header {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 12;
  }

  body header span:first-of-type {
    text-align: center;
    position: relative;
  }

  body header span:first-of-type:before {
    content: "Bouldering";
    position: absolute;
    color: var(--main-fg-color);
    font-size: 1em;
    margin-block: 2.5em;
  }

  body header nav {
    display: none;
    inline-size: 100%;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0em 0.125em 0.375em rgba(0, 0, 0, 0.15);
    flex-direction: column;
  }

  body header nav a {
    block-size: 1.875em;
  }

  body header nav.open {
    display: flex;
    position: absolute;
    margin-block-start: 5.625em;
    z-index: 999;
  }

  /** INDEX **/
  body .index {
    gap: 1em 0em;
  }

  body .index img {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    aspect-ratio: 1 / 1;
  }

  body .index video {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  /** INDOOR **/
  body .indoor section {
    grid-column: 1 / -1;
  }

  body .indoor aside {
    grid-column: 1 / -1;
  }

  body .indoor aside img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  /** OUTDOOR **/
  body .outdoor section {
    grid-column: 1 / span 12;
  }

  body .outdoor section:first-of-type {
    grid-column: 1 / span 12;
  }

  body .outdoor section:first-of-type img {
    inline-size: 100%;
    block-size: auto;
    border-radius: 0.375em;
  }

  /** SPORT **/
  body .sport section:first-of-type {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  body .sport section:last-of-type {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  /** GEAR **/
  body .gear aside {
    grid-column: 1 / span 12;
  }

  body .gear aside img {
    inline-size: 100%;
    block-size: 100%;
    border-radius: 0.375em;
    object-fit: cover;
    min-inline-size: 100%;
  }

  body .gear section {
    grid-column: 1 / span 12;
  }

  /** CONTACT **/
  body .contact {
    gap: 1.25em;
  }

  body .contact section {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 768px) {
  body header {
    display: grid;
    grid-template-columns: minmax(20%, calc(1024px / 100 * 20)) minmax(80%, calc(1024px / 100 * 80));
    block-size: 6.25em;
    justify-self: center;
    max-inline-size: 1024px;
  }

  body header span:first-of-type {
    text-align: left;
  }

  body header .menu-toggle {
    display: none;
  }

  body header nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    inline-size: auto;
    background: none;
    flex-direction: row;
    padding: 0em;
    margin-block: 0em;
    box-shadow: none;
    align-items: center;
  }

  body header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0em;
    margin: 0em;
  }

  body header nav ul li {
    margin-inline: 0.625em;
    block-size: 100%;
  }

  body header nav ul .dropdown {
    position: relative;
  }

  body header nav ul .dropdown ul {
    position: absolute;
    display: none;
    inline-size: 100%;
    flex-direction: column;
    z-index: 999;
  }

  body header nav ul .dropdown ul li a {
    display: block;
    box-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.15);
    padding: 0.3125em 0.625em;
    background-color: var(--main-bg-color);
  }

  body header nav ul .dropdown:hover ul {
    display: flex;
    flex-direction: column;
  }

  body header nav ul .dropdown:hover ul li {
    margin: 0;
  }

  /** INDEX **/
  body .index .container section:nth-child(1) {
    grid-template-columns: repeat(auto-fit, minmax(9.375em, 1fr));
  }

  body .index .container section:nth-child(2) article:nth-child(1) {
    grid-column: 1 / span 4;
  }

  body .index .container section:nth-child(2) article:nth-child(2) {
    grid-column: 5 / span 4;
  }

  body .index .container section:nth-child(2) article:nth-child(3) {
    grid-column: 9 / span 4;
  }

  body .index .container section:nth-child(2) article:nth-child(4) {
    grid-column: 1 / span 6;
  }

  body .index .container section:nth-child(2) article:nth-child(5) {
    grid-column: 7 / span 6;
  }

  body .index .container section:nth-child(3) article {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  body .index .container section:nth-child(3) article:nth-child(odd) section {
    padding-inline-start: 1em;
  }

  body .index .container section:nth-child(3) article:nth-child(2) {
    flex-direction: row-reverse;
  }

  body .index .container section:nth-child(3) article:nth-child(2) section {
    padding-inline-end: 1em;
  }

  body .index .container section:nth-child(3) article a,
  body .index .container section:nth-child(3) article section {
    width: 50%;
  }

  body .index .container article:not(.expanded) picture {
    position: relative;
    display: flex;
    inline-size: 100%;
  }

  body .index .container article picture::after {
    content: ""; 
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  body .index .container article:not(.expanded) picture:hover::after {
    opacity: 1;
  }

  /** INDOOR **/
  body .indoor section:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 7;
  }

  body .indoor section:last-of-type {
    grid-row: 2;
  }

  body .indoor aside {
    grid-row: 1;
    grid-column: 8 / -1;
  }

  /** OUTDOOR **/
  body .outdoor section:nth-of-type(1) img {
    inline-size: 100%;
    block-size: auto;
    border-radius: 0.375em;
  }

  body .outdoor section:nth-of-type(2) {
    grid-column: 1 / span 6;
  }

  body .outdoor section:nth-of-type(3) {
    grid-column: 7 / span 6;
  }

  /** SPORT **/
  body .sport table {
    display: table;
    border-collapse: collapse;
  }

  body .sport table thead {
    position: relative;
    top: auto;
  }

  body .sport table thead {
    display: table-header-group;
  }

  body .sport table thead th {
    padding: 0.5em;
    text-align: left;
    border-bottom: 0.125em solid #333;
    font-weight: 700;
  }

  body .sport table thead th:first-of-type {
    text-align: center;
  }

  body .sport table tbody {
    display: table-row-group;
  }

  body .sport table tbody tr {
    display: table-row;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  body .sport table tbody tr th,
  body .sport table tbody tr td {
    display: table-cell;
    border-bottom: 0.0625em solid #ddd;
    padding: 0.5em;
  }

  body .sport table tbody tr th::before,
  body .sport table tbody tr td::before {
    content: none !important;
  }

  /** GEAR **/
  body .gear aside {
    grid-column: 1 / span 12;
  }

  body .gear section:first-of-type {
    grid-column: 1 / span 6;
  }

  body .gear section:nth-of-type(2) {
    grid-column: 7 / span 6;
  }

  /** CONTACT **/  
  body .contact section:first-of-type {
    grid-column: 1 / -1;
  }

  body .contact .container section:first-of-type {
    grid-column: 1 / 8;
  }

  body .contact .container section:last-of-type {
    grid-column: 8 / -1;
  }
}

@media screen and (min-width: 1024px) {
  /** INDEX **/
  body .index .container section:nth-child(2) {
    grid-template-columns: repeat(5, 1fr);
  }

  body .index .container section:nth-child(2) article {
    grid-column: auto !important;
  }

  body .index .container section:nth-child(3) {
    grid-template-columns: repeat(auto-fit, minmax(9.375em, 1fr));
  }

  body .index .container section:nth-child(3) article {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  body .index .container section:nth-child(3) article a,
  body .index .container section:nth-child(3) article section {
    width: 100%;
    display: block;
  }

  body .index .container section:nth-child(3) article:nth-child(odd) section {
    padding-inline-start: 0em;
  }

  body .index .container section:nth-child(3) article:nth-child(2) section {
    padding-inline-end: 0em;
  }

  body .index .container section:nth-child(3) article:nth-child(2) {
    flex-direction: column;
  }
  /** SPORT **/
  body .sport section:first-of-type {
    grid-row: 1;
    grid-column: 1 / 6;
  }

  body .sport section:last-of-type {
    grid-row: 1;
    grid-column: 6 / -1;
  }

  /** GEAR **/
  body .gear aside {
    grid-column: 1 / span 4;
  }

  body .gear section:first-of-type {
    grid-column: 5 / span 8;
  }

  body .gear section:nth-child(n+3) {
    grid-column: 1 / span 12;
  }

  body .gear section:last-of-type {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  body .gear section:last-of-type article p {
    margin-inline-end: 1em;
  }

  body .gear section:last-of-type aside {
    grid-column: 2;
    display: flex;
    align-items: center;
  }

  body .gear section:last-of-type aside img {
    object-fit: contain;
  }
}