* {
  box-sizing: border-box;
}

body {
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: repeat(11, 1fr [col-start]);
    
    & header {
        display: grid;
        grid-area: header;
        grid-column: 2 / 11;
        grid-template-columns: minmax(20%, 1fr) minmax(80%, 1fr);
    }

    & main {
        grid-area: main;
        grid-column: 2 / 11;
    }

    & footer {
        grid-area: footer;
        grid-column: 2 / 11;
    }

    & .index {
        display: grid;
        grid-template-areas:
            "banner"
            "content"
            "gallery"
            "cards";
        grid-template-columns: repeat(11, 1fr [col-start]);
        grid-template-rows: repeat(4, 1fr [row-start]);
        gap: 10px 0px;

        & section {
            display: grid;
            grid-column: 1 / 12;
            gap: 10px;
        }
    }
}

.banner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    max-height: 400px;
}

.col {
    background: gray;
    border-color: darkgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Media queries **/

@media screen and (min-width: 320px ) {

}

@media screen and (min-width: 768px ){
    .content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .gallery {
        grid-template-columns: repeat(12, 1fr);
    }
    .gallery .col:nth-child(1) {
        grid-column: 1 / span 4;
    }
    .gallery .col:nth-child(2) {
        grid-column: 5 / span 4;
    }
    .gallery .col:nth-child(3) {
        grid-column: 9 / span 4;
    }
    .gallery .col:nth-child(4) {
        grid-column: 1 / span 6;
    }
    .gallery .col:nth-child(5) {
        grid-column: 7 / span 6;
    }
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (min-width: 1024px ) {
    
    .gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    .gallery .col {
        grid-column: auto !important;
    }
}