* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #4B6E4F;
    --main-fg-color: #E9C46A;
    --main-fg-color-hover: #D4A754;
    --main-fg-color-active: #B58A3E;
    --main-fg-color-visited: #C19E62;

    --card-bg-color: #5b795e;

    --input-bg-color:#efd9b2;
    --input-fg-color:#a17609;
}

a:active {
    color: var(--main-fg-color-active)
}

a:visited {
    color: var(--main-fg-color-visited);
}

a:hover {
    color: var(--main-fg-color-hover);
}

.card {
    background-color: var(--card-bg-color);
    padding: 12px;
    box-shadow: 2px 2px 6px #59815d;
    border: 1px solid #59815d;
}

body {

    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: repeat(11, 1fr [col-start]);

    font-family: 'Inter', sans-serif;

    & h1,
    h2,
    h3 {
        font-family: 'Montserrat', sans-serif;
    }

    & header {
        display: grid;
        grid-area: header;
        grid-column: 1 / 12;

        & .menu-toggle {
            font-size: 1.6rem;
            background: none;
            border: none;
            cursor: pointer;
        }

        & .main-nav {

            a.active {
                font-weight: bold;
            }
        }
    }

    & main {
        grid-area: main;
        grid-column: 1 / 12;
    }

    & footer {
        grid-area: footer;
        grid-column: 1 / 12;
    }

    & .index {
        display: grid;
        grid-template-areas:
            "banner"
            "content"
            "gallery"
            "cards";
        grid-template-columns: repeat(11, 1fr [col-start]);
        gap: 10px 0px;

        & section {
            display: grid;
            grid-column: 1 / 12;
            gap: 10px;
        }

        & .banner {
            & picture {
                img {
                    object-fit: cover;
                    inline-size: 100%;
                    block-size: 100%;
                    object-position: center;
                    max-height: 400px;
                }
            }
        }

    }
}

/** Media queries **/

@media screen and (min-width: 0px) {

    body {

        padding: 0px 30px;

        & header {

            position: relative;
            display: flex;
            flex-direction: column;

            & .logo {
                text-align: center;
                position: relative;
            }

            .logo:before {
                content: "Bouldering";
                position: absolute;
                color: var(--main-fg-color);
                font-size: 16px;
                margin-block: 40px;
            }

            & .main-nav {
                display: none;
                inline-size: 100%;
                background: white;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
                flex-direction: column;

                & a {
                    block-size: 30px;
                }
            }

            & .main-nav.open {
                display: flex;
                position: absolute;
                margin-block-start: 7vh;
            }
        }

        & .index {
            & img {
                object-fit: cover;
                object-position: center;
                inline-size: 100%;
                aspect-ratio: 1 / 1;
            }

            & video {
                block-size: 100%;
                inline-size: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    body {

        & header {

            display: grid;
            grid-template-columns: minmax(20%, 1fr) minmax(80%, 1fr);
            block-size: 100px;

            & .logo {
                text-align: left;
            }

            & .menu-toggle {
                display: none;
            }

            & .main-nav {
                display: flex;
                justify-content: flex-end;
                position: relative;
                inline-size: auto;
                background: none;
                flex-direction: row;
                padding: 0px;
                margin-block: 0px;
                box-shadow: none;
                align-items: center;

                & a {
                    padding: 1vw 10px;
                }
            }
        }

        & .index {
            & section.gallery {
                & article:nth-child(1) {
                    grid-column: 1 / span 4;
                }

                & article:nth-child(2) {
                    grid-column: 5 / span 4;
                }

                & article:nth-child(3) {
                    grid-column: 9 / span 4;
                }

                & article:nth-child(4) {
                    grid-column: 1 / span 6;
                }

                & article:nth-child(5) {
                    grid-column: 7 / span 6;
                }
            }

            & section.content {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }

            & section.cards {
                & .card {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: flex-start;

                    & a,
                    & section {
                        width: 50%;
                    }

                    section {
                        padding: 10px;
                    }
                }

                & .card:nth-child(2) {
                    flex-direction: row-reverse;
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {
    body {

        margin-inline: auto;
        max-inline-size: 1024px;

        & .index {
            & section.gallery {

                grid-template-columns: repeat(5, 1fr);

                & article {
                    grid-column: auto !important;
                }
            }

            & section.cards {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

                & .card {
                    flex-wrap: wrap;
                    align-items: flex-start;
                    flex-direction: column;

                    & a,
                    & section {
                        width: 100%;
                    }
                }

                & .card:nth-child(2) {
                    flex-direction: column;
                }
            }
        }
    }
}