.outdoor {
    display: grid;

    & .image-top {
        grid-column: 1 / span 12;

        & img {
            inline-size: 100%;
            block-size: auto;
            border-radius: 6px;
        }
    }
}

@media screen and (min-width: 0px) {
    .outdoor {
        display: grid;
        gap: 20px 0px;

        & .intro {
            grid-column: 1 / span 11;
        }

        & .equipment {
            grid-column: 1 / span 11;
        }
    }
}

@media screen and (min-width: 768px) {
    .outdoor {

        gap: 20px;

        & .intro {
            grid-column: 1 / span 6;
        }

        & .equipment {
            grid-column: 7 / span 6;
        }

        & .image-top {
            & img {
                inline-size: 100%;
                block-size: auto;
                border-radius: 6px;
            }
        }
    }
}