@media screen and (min-width: 0px) {
    .outdoor {

        & section {
            grid-column: 1 / span 12;
        }

        & section:first-of-type {
            grid-column: 1 / span 12;

            & img {
                inline-size: 100%;
                block-size: auto;
                border-radius: 6px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .outdoor {
        gap: 20px;

        & section:nth-of-type(2) {
            grid-column: 1 / span 6;
        }

        & section:nth-of-type(3) {
            grid-column: 7 / span 6;
        }

        & .image-top {
            & img {
                inline-size: 100%;
                block-size: auto;
                border-radius: 6px;
            }
        }
    }
}