<div class="container">
    <section class="col-1-wrapper">
        <div class="card">Home</div>
    </section>  
    <section class="col-5-wrapper">
        <div class="card">col</div>
        <div class="card">col</div>
        <div class="card">col</div>
        <div class="card">col</div>
        <div class="card">col</div>
    </section>  
    <section class="col-3-wrapper">
        <div class="card">col</div>
        <div class="card">col</div>
        <div class="card">col</div>
    </section> 
</div> 